@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
      font-family: 'Geom Light';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/Geom-Light.ttf) format("ttf");
    }
    @font-face {
        font-family: 'Geom Variable';
        font-weight: 500;
        src: url(./fonts/Geom-Variable.ttf) format("ttf");
      }
      @font-face {
        font-family: 'Geom Ultra';
        font-weight: 700;
        src:   url(./fonts/Geom-Ultra.ttf) format("ttf");
    }
    @font-face {
        font-family: 'Helvetica Now Display';
        font-weight: 500;
        src:   url(./fonts/HelveticaNowDisplay-Medium.ttf) format("ttf");
    }

  }
body{

    font-family: 'Geom Light';
}
/*Hero*/
.label-text{
    @apply text-secondary text-[12px] sm:text-[14px] lg:text-[16px]  font-Inter  font-normal;
}
.card-body{
    @apply  lg:px-12  lg:pt-8 lg:pb-12 3xl:pt-10 3xl:px-16 3xl:pb-16;
}
.title-hero{

    @apply relative text-[24px] sm:text-[36px] lg:text-[48px] xl:text-[68px] 2xl:text-[80px] 3xl:text-[110px]   font-bold w-full leading-[24px] sm:leading-[36px]  lg:leading-[48px] xl:leading-[68px] 2xl:leading-[80px] 3xl:leading-[100px] font-GeomUltra text-white;
}
/* .title-hero::after{
    @apply absolute top-0 left-0;
    width: 100%;
    height: 100%;
    border-radius: 1169.798px;
    background: rgba(0, 8, 29, 0.70);
    filter: blur(150px);
} */
.btn{
    @apply text-[13px] sm:text-[15px]   lg:text-[17px] text-white font-Inter;
    box-shadow: 3.78px 3.78px 23.622px 0px rgba(64, 55, 136, 0.40);
}
.btn ,.input{
    @apply rounded-[8px];
}
.input{
    @apply focus:outline-none h-[35px] lg:h-[42px] text-[#9295B1] border-[#9295B1] rounded-[8px] font-Inter text-[12px] ;
}

.input-bordered{
    @apply border-[#9295B1] focus:border-[#9295B1];
}

.btn-primary{
    @apply bg-[#40C03C] border-0
}
.traingle-90-big{
    @apply  top-0 right-0 scale-x-[-1];


    /* h-[1319px] */
}
.traingle-90{
    @apply w-[165px] h-[165px]    bottom-0 left-0 scale-x-[-1];

    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #FC2020 50%, #FC2020 100%);

}

.traingle-red{
    background: linear-gradient(to bottom right, #FC2020 0%, #FC2020 50%, transparent 50%, transparent 100%);
}
.traingle-white{
    background: linear-gradient(to bottom right, #Fff 0%, #Fff 50%, transparent 50%, transparent 100%);
}

.title-heading{
    /* @apply text-[24px] sm:text-[36px] lg:text-[48px] xl:text-[68px] 2xl:text-[80px] 3xl:text-[110px]   font-bold w-full leading-[24px] sm:leading-[36px]  sm:leading-[36px]  lg:leading-[48px] xl:leading-[68px] 2xl:leading-[80px] 3xl:leading-[100px] lg:leading-[48px] xl:leading-[68px] 2xl:leading-[80px] 3xl:leading-[100px] font-GeomUltra text-white; */
    @apply  mb-[10px] text-[24px] sm:text-[36px]  lg:text-[48px] xl:text-[68px] 2xl:text-[80px] 3xl:text-[100px] inline-block leading-[100%]  font-GeomLight;
}
.description{
    /* 3xl:text-[48px]  2xl:mt-[24px] */
    @apply mt-[18px] lg:mt-[24px] text-[12px] sm:text-[14px] md:text-[16px] lg:text-[20px] xl:text-[27px] 2xl:text-[28px]  3xl:text-[48px] inline-block leading-[134%]  font-GeomLight;
}
.content-container-x{
    @apply max-w-[1720px]  mx-auto px-10 lg:px-10  3xl:px-[100px]  w-full;

}